.label{
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.1em;
  padding: 5px;
  margin-top: 5px;
}

.nav{
  padding: 5px;
}

.nav-link.active{
  background-color: orange;
}

.nav-link{
  background-color: rgba(255, 155, 0, 0.15);
  color: black;
  margin: 2px;
}
