<div class="container text-center">
  <h2 class="label">Your statistics here</h2>

  <nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link" [ngClass]="{'active': getActualTab(1)}" (click)="setActualTab(1)" routerLink="./bar">by Year</a>
    <a class="flex-sm-fill text-sm-center nav-link" [ngClass]="{'active': getActualTab(2)}" (click)="setActualTab(2)" routerLink="./pie">by Month</a>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
