<!-- Modal -->
<ng-container *ngIf="show">
  <p>Hello</p>

  <div id="exampleModalLive" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel"
       style="padding-right: 17px; display: block;" aria-modal="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
<!--        <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">-->
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLiveLabel">Remove?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body" *ngIf="!response">
            Are you sure?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Close</button>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Send</button>
          </div>
<!--        </form>-->
      </div>
    </div>
  </div>
</ng-container>
