<ng-container *ngIf="show">
  <div class="modal fade show" id="exampleModalCenter" tabindex="-1" style="display: block; padding-right: 17px;"
       role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Add category</h5>
          <button (click)="close()" type="button" class="btn-close btn btn-light">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <form [formGroup]="request" *ngIf="request" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline"
                          class="example-form"
          >
<!--                          [style.marginBottom]="'-1.25em'"-->
            <mat-label class="placeholder">Category Name</mat-label>
            <input matInput placeholder="Category Name" [formControl]="categoryNameControl">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-error *ngIf="(categoryNameControl.hasError('required')||categoryNameControl.hasError('minLength'))||(categoryNameControl.invalid && (categoryNameControl.dirty || categoryNameControl.touched))">
              Please enter one or more characters
            </mat-error>
          </mat-form-field>
          <div class="modal-footer">
            <button type="button" (click)="close()" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-warning">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show"></div>
</ng-container>
