<!-- Modal -->
<ng-container *ngIf="show">
  <div id="exampleModalLive" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLive"
       style="padding: 17px; display: block;" data-color="orange" aria-modal="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!--        <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">-->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 align-self-center text-left">
            <div class="modal-title" id="exampleModalLiveLabel">Are you sure?</div>
          </div>
          <div class="btn-group col-12 col-sm-6 col-md-6 col-lg-6" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">
              Close
            </button>
            <button type="submit" class="btn btn-warning" (click)="onSubmit()">
              Send
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show"></div>
</ng-container>
