.row{
  margin: 10px 0px 10px 0px;
}

.transaction{
  margin: 0;
}

.ed-rm{
  margin: 0;
}

.card-body{
  padding: 5px;
}

.card{
  margin-bottom: 5px;
}

.bg-success {
  margin: 10px 0px;
  padding: 10px;
  color: white;
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.1em;
}

.date{
  text-align: left;
  color: dimgray;
  /*color: white;*/
  font-family: 'Anton', sans-serif;
  font-size: 20px;
  /*-webkit-text-fill-color: white;*/
  /*background-color: deepskyblue ;*/
  letter-spacing: 0.1em;
}

.dateEmpty{
  text-align: left;
  color: dimgray;
  font-family: 'Anton', sans-serif;
  font-size: 20px;
  border-radius: 10px;
  /*-webkit-text-fill-color: white;*/
  /*background-color: deepskyblue ;*/
  letter-spacing: 0.1em;
}

.card-header{
  padding: 5px;
}

.btn-cat{
  padding: 0;
}

.ed{
  background: white;
  border-color: white;
  color: green;
}

.rm{
  background: white;
  border-color: white;
  color: red;
}

.catrem{
  border-color: white;
  background-color: white;
  color: red;
  padding: 0;
}

.details{
  color: dimgray;
  font-family: 'Anton', sans-serif;
  /*letter-spacing: 0.1em;*/
  font-size: 16px;
}

.trans-lab{
  font-family: 'Anton', sans-serif;
  /*letter-spacing: 0.1em;*/
  font-size: 30px;
}

.card-title{
  border-radius: 10px;
}


.add-cat{
  border-color: transparent;
  background-color: transparent;
  color: white;
  /*padding: 0;*/
}

.cat-def{
  margin-top: 2px;
  margin-bottom: 2px;
}

.add-cat-val{
  cursor: pointer;
}

.add-cat-val:hover{
  background-color: #e7e7e7;
  border-radius: 5px;
}
